<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBKfsPdTECL6PNq8B5iDJ5BlD1ZW9MBXUc</string>
	<key>GCM_SENDER_ID</key>
	<string>697241419112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anthon.health-ai</string>
	<key>PROJECT_ID</key>
	<string>anthon-health-ai</string>
	<key>STORAGE_BUCKET</key>
	<string>anthon-health-ai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697241419112:ios:581942ebbe8f6339672add</string>
</dict>
</plist>